.row7_container{}

.row7_container .row7_box_wrap  {
    padding: 0 30px;
    display: flex;
    gap: 20px;
}

.row7_container .row7_box_wrap  .add01 {}

.row7_container .row7_box_wrap  .add01::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/custom/images/main/7row_01.jpg);
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    z-index: 0;

}


.row7_container .row7_box_wrap  .add02::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/custom/images/main/7row_02.jpg);
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    z-index: 0;

}

.row7_container .row7_box_wrap  .add03::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/custom/images/main/7row_03.png);
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    z-index: 0;

}

.row7_container .row7_box_wrap  .add04::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/custom/images/main/7row_04.jpg);
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    z-index: 0;

}




.row7_container .row7_box_wrap  .row7_box:hover::before {
    transform: scale(1.1);
    filter: blur(3px);
    
}


.row7_container .row7_box_wrap  .row7_box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    z-index: 1;
}

.row7_container .row7_box_wrap  .row7_box:hover::after {
    background-color: rgba(0, 0, 0, 0.4);
}


.row7_container .row7_box_wrap  .row7_box {
    width: 100%;
    /* border: 1px solid red; */
    min-width: 200px;
    color: #212121;
    padding-bottom: 11%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.row7_container .row7_box_wrap  .row7_box .add_off {
    transform: translateY(0);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    color: #212121;
    background-color: rgba(255, 255, 255, 0.9);
    transition: transform 0.3s ease;
}

.row7_container .row7_box_wrap  .row7_box:hover .add_off {
    transform: translateY(-100%);

}

.row7_container .row7_box_wrap  .row7_box .add_off h4 {
    margin-top: 36px;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 0.8px solid #f0f0f1;
    width: 90%;
    letter-spacing: -0.2px;
}

.row7_container .row7_box_wrap  .row7_box .add_off p {
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: -0.2px;
    padding-bottom: 10px;
    font-weight: 500;
}

.row7_container .row7_box_wrap  .row7_box .add_on {
    display: flex;
    opacity: 0;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.row7_container .row7_box_wrap  .row7_box:hover .add_on {
    opacity: 1;

}


.row7_container .row7_box_wrap  .row7_box .add_on h4 {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 0.2px solid #f0f0f1;
    width: 90%;
    letter-spacing: -0.2px;
}

.row7_container .row7_box_wrap  .row7_box .add_on p {
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: -0.2px;
    padding-bottom: 10px;
    font-weight: 500;
}

.row7_container .row7_box_wrap  .row7_box .add_on span {
    letter-spacing: -0.2px;
    line-height: 200%;
}